<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homemmm</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/manage/update-page">Update</a>
        <a href="/manage/create-page" class="active">Create</a>
        <a href="/manage/home">Home</a>
    </div>
    <div class="form">
        <form id="createForm" action="/manage/create-restaurant" method="POST">
            <fieldset>
                <legend>Restaurant Information:</legend>
                <div class="input-group">
                    <label>Restaurant ID</label>
                    <input type="text" name="restaurant_id">
                </div>
                <div class="input-group">
                    <label>ID food</label>
                    <input type="text" name="id">
                </div>
                <div class="input-group">
                    <label>name</label>
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <label>image</label>
                    <input type="text" name="image">
                </div>
                <div class="input-group">
                    <label>Description</label>
                    <input type="text" name="description">
                </div>
                <div class="input-group">
                    <label>price</label>
                    <input type="text" name="price">
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
                <div id="responseMessage"></div> <!-- Div to display the response message -->
            </fieldset>
        </form>
    </div>

    <script>
        document.getElementById('createForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(this);

            fetch('/manage/create-restaurant', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('responseMessage').innerText = 'Success';
                })
                .catch(error => {
                    document.getElementById('responseMessage').innerText = 'An error occurred: ' + error;
                });
        });
    </script>
</body>

</html>